asgiref==3.5.2; python_version >= "3.8"
dj-database-url==0.5.0
django-heroku==0.3.1
django==4.0.6; python_version >= "3.8"
psycopg2==2.9.3; python_version >= "3.6"
sqlparse==0.4.2; python_version >= "3.8"
tzdata==2022.1; sys_platform == "win32" and python_version >= "3.8"
whitenoise==6.2.0; python_version >= "3.7"
