{% extends "../index.html" %}
{% load i18n %}

{% block content %}
Задачи: {{ tasks }}
{% for task in tasks %}
<h2> {{ task.title }} <small>{{ taks.id }}</small></h2>
<p>{{ task.description }}</p>
<p>Автор - {{ task.author }}, исполнитель - {{ task.executor }}</p>
<p>
  <a href="{{ task.id }}/delete/">{% translate 'Delete' %}</a>
  <a href="{{ task.id }}/update/">{% translate 'Edit' %}</a>
</p>
{% endfor %}

<p><a href="{% url 'tasks:create' %}">{% translate 'Add task' %}</a></p>
{% endblock %}
